* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  font-family: "Fira Sans", sans-serif;
}

.main {
  padding-top: 1rem;
  align-items: center;
}

body {
  background-color: whitesmoke;
  cursor: default;
}

.navBar {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.navBar__logo {
  width: 6vw;
  margin: 0rem;
  background-size: cover;
}
.navBar__brand {
  font-size: 1.7rem;
  height: 2.5rem;
  color: #016236;
}
.navBar__link {
  font-size: 1.7rem;
  font-weight: bold;
  color: #7e7d73;
  margin: 0.7rem;
  padding: 0rem;
}
.navBar__link:hover {
  color: #016236;
  text-decoration: none;
}
.navBar__button {
  margin: 1rem;
  font-size: 1.7rem;
  display: inline-block;
}
.navBar__button:hover {
  color: whitesmoke;
  background-color: #016236;
  border: 0rem;
}

/* carousel index */
.indexHero {
  display: flex;
  flex-direction: column;
  margin: 10rem 1rem 1rem 1rem;
}
.indexHero__carouselIndex {
  width: 100%;
  display: inline-grid;
  align-items: center;
  justify-items: center;
}
.indexHero__imgCarousel {
  width: 100%;
}

/* buscador de salidas */
.card__group {
  margin: 1.5rem 0rem 0rem 0rem;
  background: whitesmoke;
}

.card {
  margin: 0.5rem 0rem 0rem 1rem;
  display: inline-block;
  background-color: whitesmoke;
  /* tarjeta titulo */
  /* imagen buscador de salidas */
}
.card__firstCard {
  border: none;
}
.card__indexH1 {
  color: #016236;
  font-size: 1.7rem;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 0.5rem;
  justify-items: center;
  margin: 1rem 2rem 1rem 3rem;
}
.card__imgBuscador {
  width: 25rem;
  height: auto;
  background-size: cover;
  margin: 0.5rem 1rem 0.5rem 5rem;
}
.card__title {
  font-size: 1.7rem;
  height: 3rem;
  color: #016236;
  letter-spacing: 0.5rem;
  margin-left: 5rem;
}
.card__title:hover {
  font-size: 2.4rem;
  transition: all 200ms ease;
  letter-spacing: 0.7rem;
}
.card__body {
  font-size: 1.2rem;
  color: #7e7d73;
  letter-spacing: 0.3rem;
  margin: 1rem 0rem 1rem 5rem;
  line-height: 1.5rem;
  width: 25rem;
}

/* blog shop index */
.indexBlog {
  display: grid;
  justify-items: center;
  margin-left: 0.5rem;
}
.indexBlog__img {
  width: 25rem;
  height: auto;
  background-size: cover;
}
.indexBlog__title {
  font-size: 1.36rem;
  height: 3rem;
  color: #016236;
  margin: 0.5rem 0rem 0rem 1.3rem;
}
.indexBlog__body {
  width: 24rem;
  height: 10rem;
  font-size: 1.2rem;
  line-height: 1.3rem;
  color: #7e7d73;
  padding-left: 1rem;
}
.indexBlog__button {
  border: 0rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 0rem 0rem 5rem 1rem;
  background-color: whitesmoke;
  color: #016236;
  text-align: center;
}
.indexBlog__button:hover {
  background-color: #016236;
  color: whitesmoke;
}

/* footer */
.footer {
  background-color: #7e7d73;
  display: flex;
  width: 100%;
}
.footer__logo {
  height: 4vh;
  margin-top: 0.1rem;
  overflow: hidden;
}
.footer__shortcuts {
  width: 10rem;
  margin: 0.5rem 0rem 0rem 12rem;
}
.footer__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: whitesmoke;
  margin: 0rem 0.8rem 0rem 0rem;
}
.footer__link:hover {
  text-decoration: none;
  color: #016236;
}

.h1, .contactoH1, .shopH1, #nosotrosH1, .excursionesH1 {
  font-size: 2rem;
  height: 2.8rem;
  letter-spacing: 0.5rem;
  color: #016236;
  background-color: whitesmoke;
  text-align: center;
  align-items: center;
  margin: 5rem 0rem 1.8rem 0rem;
}

.excursionesH1 {
  letter-spacing: 0.2rem;
}

.month__title {
  font-size: 1.7rem;
  font-weight: bold;
  height: 3rem;
  color: #7e7d73;
  text-align: center;
  letter-spacing: 0.4rem;
  margin: 1rem 0rem 2rem 0rem;
}

.month {
  display: flex;
  height: 17rem;
  width: 96%;
  margin-bottom: 1rem;
}

.blockExcursion {
  height: auto;
  align-items: center;
  margin: 0rem 0.5rem;
  /* fotos de proximas excursiones*/
}
.blockExcursion__imgContainer {
  height: 9rem;
  width: 12rem;
  display: inline-block;
  align-items: center;
  background-size: cover;
}
.blockExcursion__excImg {
  height: 100%;
  width: 100%;
}
.blockExcursion__excTitle {
  color: #016236;
  width: 12rem;
  text-align: center;
  font-size: 1.4rem;
  margin: 0.4rem 0rem;
}
.blockExcursion__excBody {
  color: #7e7d73;
  font-size: 1.2rem;
  height: 3rem;
  letter-spacing: 0.06rem;
  text-align: center;
  line-height: 1rem;
}

.nosotrosTop {
  background-color: whitesmoke;
  width: 80%;
  margin: 6rem auto 0rem auto;
  max-width: 1320px;
  align-items: center;
  display: block;
}
.nosotrosTop__intro {
  font-size: 1.2rem;
  color: #7e7d73;
  text-align: center;
  letter-spacing: 0.03rem;
  line-height: 1.6rem;
}

/* grid sobre nosotros*/
.nosotrosGallery {
  background-color: #016236;
  height: 21rem;
  padding: 1rem;
  margin: 2rem 1rem 3rem 1rem;
  box-shadow: 0rem 0rem 0.5rem #7e7d73;
  border-radius: 0.2rem;
  z-index: 3;
  display: grid;
  grid-template-areas: "foto1 foto2 foto3 foto3" "foto4 foto2 foto5 foto6";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1.2%;
  grid-row-gap: 1%;
  align-items: stretch;
  justify-content: space-evenly;
}

/* imagenes del grid nosotros */
.imgGeneral, .foto6, .foto5, .foto4, .foto3, .foto2, .foto1 {
  background-size: cover;
  border-radius: 0.2rem;
  height: 9rem;
}

.foto1 {
  grid-area: "foto1";
  background-image: url(../Img/mapa.jpg);
}

.foto2 {
  grid-area: "foto2";
  grid-row: span 2;
  height: 18.5rem;
  background-image: url(../Img/usuario-perro.jpg);
}

.foto3 {
  grid-area: "foto3";
  grid-column: span 2;
  background-image: url(../Img/selfie.jpg);
}

.foto4 {
  grid-area: "foto4";
  background-image: url(../Img/team-photo.jpg);
}

.foto5 {
  grid-area: "foto5";
  background-image: url(../Img/hombre-mirando-paisaje.jpg);
}

.foto6 {
  grid-area: "foto6";
  background-image: url(../Img/team-cima.jpg);
}

.gridNosotros:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0rem 0rem 0.3rem #016236;
}

/* bloque testimonios */
.nosotrosReview {
  background-color: whitesmoke;
  margin-top: 3rem;
  display: flex;
}

.review1__Img {
  height: 17rem;
  width: auto;
  float: right;
  border-radius: 1rem;
  margin: 0rem 0.5rem;
}
.review1__title {
  color: #7e7d73;
  height: 3rem;
  font-size: 1.7rem;
  text-align: left;
  margin-left: 2rem;
}
.review1__body {
  color: #7e7d73;
  height: 18rem;
  font-size: 1.2rem;
  text-align: left;
  margin: 1rem 10rem 1rem 1rem;
  overflow-wrap: break-word;
}

.review2__Img {
  height: 17rem;
  width: auto;
  float: left;
  border-radius: 1rem;
  margin: 0rem 0.5rem;
}
.review2__title {
  color: #7e7d73;
  height: 3rem;
  font-size: 1.7rem;
  text-align: right;
  margin-right: 2rem;
}
.review2__body {
  color: #7e7d73;
  height: 18rem;
  font-size: 1.2rem;
  text-align: right;
  margin: 1rem 1rem 2rem 10rem;
  overflow-wrap: break-word;
}

/* frase testimonios */
.higlight {
  font-style: italic;
  font-weight: bolder;
  font-size: 1.22rem;
  padding: 0rem 0.5rem 0rem 3rem;
}

.shopTop {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0.5rem 2rem 2rem 3rem;
  /* bloque superior shop */
}
.shopTop__title {
  font-size: 1.7rem;
  text-align: center;
  color: #016236;
  letter-spacing: 0.2rem;
  margin: 0rem 2rem;
  height: 4.5rem;
}
.shopTop__promo {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 30rem;
}
.shopTop__Img {
  width: 20rem;
  height: auto;
  margin: 0.7rem;
  background-size: center;
}
.shopTop__body {
  font-size: 1.2rem;
  color: #7e7d73;
  width: 26rem;
  text-align: center;
  margin: 0.5rem 0rem 1rem 2rem;
  line-height: 1.5rem;
}

.shopBottom {
  display: inline-block;
  margin: 0rem 1rem 2rem 3rem;
}
.shopBottom__title {
  font-size: 1.7rem;
  color: #7e7d73;
  letter-spacing: 0.2rem;
  text-align: center;
  align-items: center;
  align-content: center;
  height: 3rem;
}

.shopCategory {
  display: inline-block;
  border-radius: 2rem;
  border: 0.14rem solid #7e7d73;
  background: whitesmoke;
  width: 9rem;
  text-align: center;
  margin: 1rem 0.5rem;
  justify-items: center;
  align-items: center;
  cursor: default;
  transition: all 400ms ease;
}
.shopCategory:hover {
  box-shadow: 0.25rem 0.25rem 1rem #7e7d73;
  transform: translateY(-3%);
  z-index: 1;
}
.shopCategory__title {
  color: #016236;
  font-size: 1.4rem;
  height: 4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}
.shopCategory__imgContainer {
  width: 7rem;
  height: 6rem;
  overflow: hidden;
  margin: 0.5rem 0rem 0rem 1rem;
}
.shopCategory__Img {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.shopCategory__body {
  color: #7e7d73;
  font-size: 1.2rem;
  width: 6rem;
  text-align: center;
  margin: 0.5rem 0.5rem 0.5rem 1.3rem;
  line-height: 1.5rem;
  overflow-wrap: break-word;
}

.formContacto {
  background-image: url("../Img/a-n-v-e-s-h-4W4EiTKqDcs-unsplash-min-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.bloqueFieldset {
  width: 100%;
  display: block;
  float: left;
  margin-left: 0.5rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #016236;
}

.fieldsetContacto {
  width: 90%;
  display: flex;
  padding: 1rem;
  margin: 0.8rem 1.5rem;
}

.placeholderForm {
  overflow: hidden;
}

.bloqueBotones {
  margin: 1rem 1rem 1rem 8rem;
  display: flex;
}

input[type=submit],
input[type=reset] {
  width: 5rem;
  margin-right: 2rem;
  font-size: 1.2rem;
  padding: 0.05rem;
  color: #7e7d73;
  background-color: whitesmoke;
  border-radius: 0.5rem;
}

input[type=submit]:hover {
  background-color: #016236;
  color: whitesmoke;
}

input[type=reset]:hover {
  background-color: #016236;
  color: whitesmoke;
}

.textAreaTitle {
  margin-left: 2rem;
  font-size: 1.2rem;
}

textarea {
  width: 90%;
  height: 9rem;
  margin: 1rem 0rem 0rem 1.5rem;
  box-sizing: border-box;
  border: 0.2rem solid whitesmoke;
  border-radius: 0.2rem;
  background-color: inherit;
  resize: none;
  outline: none;
}

#location {
  margin: 2rem 0rem 2rem 0rem;
}

.location__logo {
  font-size: 1.7rem;
  color: #7e7d73;
  float: left;
  margin: 1rem 1.5rem 0rem 2rem;
}
.location__title {
  color: #7e7d73;
  height: 2.5rem;
  font-size: 1.7rem;
  margin: 1rem 0rem 2rem 2rem;
  letter-spacing: 0.2rem;
  cursor: default;
}

.mapa {
  margin: 1rem 0.2rem 2rem 1rem;
  display: block;
  height: 20rem;
  width: 20rem;
  float: left;
  border: 0.01rem solid #7e7d73;
}

.contacto__datos {
  display: block;
  width: 13.5rem;
  flex-direction: column;
  float: right;
  justify-items: left;
  font-size: 1.2rem;
  color: #7e7d73;
  margin: 1rem 1.5rem 0rem 0rem;
  cursor: default;
  overflow-wrap: break-word;
}
.contacto__logo {
  float: left;
  font-size: 1.2rem;
  color: #7e7d73;
  margin: 0.25rem 0.3rem 0rem 0rem;
}
.contacto__logo:hover {
  color: #016236;
}

.pagina404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.pagina404__imgContainer {
  width: 80vw;
}
.pagina404__img {
  width: 100%;
}
.pagina404__title {
  color: #016236;
  font-size: 2rem;
  margin-top: 2rem;
  letter-spacing: 0.5rem;
  text-align: center;
  height: 6rem;
}
.pagina404__link {
  text-decoration: none;
  color: #7e7d73;
  font-size: medium;
  overflow: hidden;
}
.pagina404__link:hover {
  color: #016236;
}

@media screen and (min-width: 768px) {
  .h1, .excursionesH1, #nosotrosH1, .shopH1, .contactoH1 {
    font-size: 1.7rem;
  }

  .navBar__logo {
    width: 5.5vw;
  }
  .navBar__brand {
    font-size: 1.9rem;
  }

  .card__group {
    display: flex;
    width: 100%;
    margin-left: 2rem;
  }

  .card {
    margin: 1rem 0.5rem;
  }
  .card__indexH1 {
    margin: 1rem;
    letter-spacing: 0.5rem;
  }
  .card__imgBuscador {
    width: 40rem;
    margin: 1rem 2rem;
  }
  .card__title {
    width: 15rem;
    margin: 0rem 0rem;
  }
  .card__title:hover {
    letter-spacing: 0.05rem;
  }
  .card__body {
    margin: 0.5rem 0rem 0rem 2rem;
    overflow-wrap: break-word;
    width: 12rem;
  }

  .indexBlog {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 1rem 0rem 1rem 9rem;
  }
  .indexBlog__img {
    width: 30rem;
  }
  .indexBlog__title {
    font-size: 1.7rem;
  }
  .indexBlog__body {
    width: 28rem;
  }

  .footer__logo {
    height: 6vh;
  }
  .footer__shortcuts {
    margin-left: 28rem;
    margin-top: 0.2rem;
  }
  .footer__link {
    font-size: 1.7rem;
    margin-right: 2rem;
  }

  .excursionesH1 {
    margin-top: 8rem;
    letter-spacing: 0.4rem;
  }

  .month__title {
    font-size: 2rem;
  }

  .month {
    width: 100%;
    margin: 0rem 0rem 3.5rem 10rem;
    height: 25rem;
  }

  .blockExcursion {
    margin: 1rem 1.5rem;
  }
  .blockExcursion__imgContainer {
    height: 13rem;
    width: 16rem;
  }
  .blockExcursion__excTitle {
    font-size: 1.7rem;
    margin: 1rem 0rem 2rem 1rem;
    height: 2.1rem;
  }
  .blockExcursion__excBody {
    margin: 1rem 0rem 0rem 1.7rem;
    text-align: left;
  }

  .nosotrosTop__intro {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.06rem;
  }

  .nosotrosGallery {
    height: 29rem;
  }

  .imgGeneral, .foto1, .foto2, .foto3, .foto4, .foto5, .foto6 {
    height: 13rem;
  }

  .foto2 {
    height: 26rem;
  }

  .nosotrosReview {
    margin: 2rem 2.5rem;
  }

  .review1__Img {
    height: 34rem;
    margin: 2.2rem 2rem 0rem 1rem;
  }
  .review1__title {
    color: #7e7d73;
    height: 3rem;
    font-size: 2.1rem;
    text-align: left;
    margin-left: 2rem;
    margin-top: 8rem;
  }
  .review1__body {
    color: #7e7d73;
    height: 18rem;
    font-size: 1.3rem;
    text-align: left;
    margin: 1rem 30rem 1rem 2rem;
  }

  .review2__Img {
    height: 34rem;
    margin: 2.2rem 1rem 0rem 2.2rem;
  }
  .review2__title {
    color: #7e7d73;
    height: 3rem;
    font-size: 2.1rem;
    text-align: right;
    margin-left: 2rem;
    margin-top: 8rem;
  }
  .review2__body {
    color: #7e7d73;
    height: 18rem;
    font-size: 1.3rem;
    text-align: right;
    margin: 2.3rem 2rem 1rem 30rem;
  }

  .contactoH1 {
    margin-top: 8rem;
  }

  .bloqueFieldset {
    width: 100%;
    font-size: 1.7rem;
    margin: 1rem 2rem 1rem 8rem;
  }

  .bloqueBotones {
    margin-left: 18rem;
    font-size: 1.7rem;
  }

  input[type=submit],
input[type=reset] {
    margin-right: 2rem;
  }

  .textAreaTitle {
    margin-left: 2rem;
    font-size: 1.7rem;
  }

  textarea {
    height: 11rem;
  }

  .location__logo {
    font-size: 1.9rem;
  }
  .location__title {
    font-size: 1.9rem;
  }

  .mapa {
    height: 30rem;
    margin-bottom: 4rem;
  }

  .contacto__datos {
    width: 32rem;
    font-size: 1.4rem;
  }
  .contacto__logo {
    font-size: 1.4rem;
    margin-right: 1rem;
  }

  .shopTop__promo {
    margin: 0.5rem;
    width: 60rem;
    height: 25rem;
    margin-left: 8rem;
  }
  .shopTop__Img {
    width: 30rem;
    height: auto;
    margin: 0.5rem 1rem;
  }
  .shopTop__body {
    font-size: 1.4rem;
    color: #7e7d73;
    width: 55rem;
    height: 10rem;
    margin: 0.5rem 0rem 1rem 10rem;
  }

  .shopBottom {
    margin-left: 8rem;
    margin-bottom: 6rem;
  }
  .shopBottom__title {
    font-size: 2.2rem;
  }

  .shopCategory {
    width: 18rem;
    margin: 1.5rem 1rem 0rem 2.5rem;
  }
  .shopCategory__title {
    color: #016236;
    font-size: 1.7rem;
    height: 4rem;
  }
  .shopCategory__imgContainer {
    width: 13rem;
    height: 10rem;
    margin: 0rem 0rem 0rem 2rem;
  }
  .shopCategory__body {
    font-size: 1.4rem;
    width: 13rem;
    height: 5rem;
    margin: 0rem 0.5rem 0.5rem 1.8rem;
  }

  .pagina404__imgContainer {
    width: 60vw;
  }
  .pagina404__link {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .h1, .excursionesH1, #nosotrosH1, .shopH1, .contactoH1 {
    font-size: 2.4rem;
    margin-top: 8rem;
    height: 6rem;
  }

  .navBar__logo {
    width: 6vw;
  }
  .navBar__brand {
    font-size: 2rem;
    margin-right: 3.5rem;
  }

  .card__group {
    display: flex;
    width: 100%;
    margin-left: 2rem;
  }

  .card {
    margin: 1rem 0.5rem;
  }
  .card__indexH1 {
    margin: 1.5rem 1rem 0rem 1rem;
    height: 15rem;
    letter-spacing: 0.8rem;
    font-size: 2.6rem;
  }
  .card__imgBuscador {
    width: 60rem;
    margin: 1rem 2rem;
  }
  .card__title {
    font-size: 1.9rem;
    width: 25rem;
    margin-left: 1rem;
  }
  .card__title:hover {
    letter-spacing: 0.8rem;
  }
  .card__body {
    margin: 0.5rem 0rem 0rem 4rem;
    width: 19rem;
  }

  .indexBlog {
    margin-left: 20rem;
  }
  .indexBlog__img {
    width: 40rem;
  }
  .indexBlog__title {
    font-size: 2rem;
  }
  .indexBlog__body {
    font-size: 1.7rem;
    width: 37rem;
    height: 15rem;
    letter-spacing: 0.3rem;
    line-height: 1.8rem;
  }
  .indexBlog__button {
    font-size: 1.4rem;
  }

  .footer__logo {
    height: 5vh;
  }
  .footer__shortcuts {
    margin-left: 54rem;
    margin-top: 1rem;
  }
  .footer__link {
    font-size: 1.7rem;
    margin-right: 3rem;
  }

  .excursionesH1 {
    margin-top: 14rem;
    margin-left: 3rem;
    font-size: 4rem;
  }

  .month__title {
    font-size: 2.3rem;
  }

  .month {
    margin: 0rem 0rem 3.5rem 24rem;
    height: 30rem;
  }

  .blockExcursion {
    margin: 0.5rem 2rem;
  }
  .blockExcursion__imgContainer {
    height: 18rem;
    width: 25rem;
  }
  .blockExcursion__excTitle {
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    margin: 1rem 0rem 2rem 6rem;
  }
  .blockExcursion__excBody {
    font-size: 1.4rem;
    margin: 1rem 0rem 0rem 6rem;
    text-align: left;
  }

  #nosotrosH1 {
    font-size: 4rem;
  }

  .nosotrosTop__intro {
    font-size: 1.7rem;
    line-height: 2rem;
    letter-spacing: 0.06rem;
    height: 12rem;
  }

  .nosotrosGallery {
    height: 32rem;
  }

  .imgGeneral, .foto1, .foto2, .foto3, .foto4, .foto5, .foto6 {
    height: 14rem;
  }

  .foto2 {
    height: 28rem;
  }

  .nosotrosReview {
    margin: 2rem 2.5rem 8rem 2.5rem;
  }

  .review1__Img {
    height: 45rem;
    margin: 2.2rem 0rem 0rem 1rem;
  }
  .review1__title {
    color: #7e7d73;
    height: 3rem;
    font-size: 2.4rem;
    text-align: left;
    margin-left: 6rem;
    margin-top: 8rem;
  }
  .review1__body {
    color: #7e7d73;
    height: 18rem;
    font-size: 1.7rem;
    text-align: left;
    margin: 2.3rem 36rem 1rem 4rem;
  }
  .review1__higlight {
    font-size: 1.7rem;
    margin-left: 3.5rem;
    font-style: italic;
  }

  .review2__Img {
    height: 45rem;
    margin: 2.2rem 1rem 0rem 0rem;
  }
  .review2__title {
    color: #7e7d73;
    height: 3rem;
    font-size: 2.4rem;
    text-align: right;
    margin-right: 6rem;
    margin-top: 6rem;
  }
  .review2__body {
    color: #7e7d73;
    height: 18rem;
    font-size: 1.7rem;
    text-align: right;
    margin: 2.3rem 4rem 1rem 36rem;
  }
  .review2__higlight {
    font-size: 1.7rem;
    margin-left: 3.5rem;
    font-style: italic;
  }

  .contactoH1 {
    margin-top: 10rem;
    font-size: 4rem;
  }

  .bloqueFieldset {
    width: 80%;
    margin-left: 18rem;
  }

  .bloqueBotones {
    margin-left: 35rem;
    margin-top: 2rem;
  }

  input[type=submit],
input[type=reset] {
    margin-right: 5rem;
    font-size: 1.7rem;
    width: 8rem;
  }

  .textAreaTitle {
    display: block;
    margin-left: 6rem;
    font-size: 1.7rem;
  }

  textarea {
    height: 15rem;
    width: 80rem;
    margin-left: 6rem;
  }

  .location__logo {
    font-size: 2rem;
    height: 10rem;
    margin-left: 5rem;
  }
  .location__title {
    font-size: 2.2rem;
  }

  .mapa {
    margin-bottom: 4rem;
  }

  .contacto__datos {
    width: 45rem;
    font-size: 1.7rem;
  }
  .contacto__logo {
    font-size: 1.7rem;
    margin-right: 1rem;
  }

  .shopH1 {
    font-size: 4rem;
    margin-top: 15rem;
    margin-left: 6rem;
  }

  .shopTop {
    margin-left: 25rem;
  }
  .shopTop__title {
    text-align: left;
    margin-left: 28rem;
  }
  .shopTop__promo {
    margin: 0.5rem;
    width: 85rem;
    height: 40rem;
  }
  .shopTop__Img {
    width: 50rem;
    height: auto;
    margin: 0.5rem 1.3rem;
  }
  .shopTop__body {
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    line-height: 1.8rem;
    width: 70rem;
    margin: 0.5rem 0rem 1rem 11rem;
  }

  .shopBottom {
    margin-left: 8rem;
    margin-bottom: 6rem;
  }
  .shopBottom__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .shopCategory {
    width: 28rem;
    margin: 1.5rem 1rem 0rem 9rem;
  }
  .shopCategory__title {
    color: #016236;
    font-size: 2rem;
    height: 4rem;
  }
  .shopCategory__imgContainer {
    width: 18rem;
    height: 15rem;
    margin: 0rem 0rem 0rem 5rem;
  }
  .shopCategory__body {
    font-size: 1.7rem;
    width: 15rem;
    height: 8rem;
    margin: 0rem 0.5rem 0.5rem 7rem;
    line-height: 1.9rem;
  }

  .pagina404__imgContainer {
    width: 40vw;
  }
  .pagina404__link {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
